*,
::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

body {
  background-color: rgba(34, 34, 34, 1);
  height: 100%;
  padding-top: 30px;
  margin: 0;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

html {
  background-color: rgba(34, 34, 34, 1);
  height: 100%;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
footer > a {
  text-align: center;
}
#main {
  background-image: url(https://i.annihil.us/u/prod/marvel/i/mg/8/e0/52bdf830aa094.jpg);
  height: 420px;
  padding-left: 20px;
  width: 100vw;
}

#mainInput {
  height: 100%;
}
#mainInput > div > * {
  padding: 0.2rem;
}
.absolute {
  position: absolute;
  padding-top: 20px;
}
.absolute > div {
  padding-top: 20px;
}
#skew-box {
  position: absolute;
  transform: skew(-18deg);
  -webkit-transform: skew(-18deg);
  height: 420px;
  width: 700px;
  background-color: rgba(0, 0, 0);
  margin-left: -200px;
  opacity: 50%;
}
button,
input {
  color: rgb(256, 61, 61);
  background-color: #181a1b;
  border: solid 1px rgb(102, 0, 0);
  border-radius: 0.2rem;
  margin: 0 0.1rem;
}

:focus-visible {
  outline: unset;
  box-shadow: 2px whitesmoke;
}

button:not(:disabled) {
  cursor: pointer;
}

.character {
  background-color: rgba(100, 100, 100, 0.3);
  box-shadow: 0 4px 8px 0 rgba(64, 253, 181, 0.438);
  height: 234px;
  width: 260px;
  transition: 0.3s;
  transition: transform 0.2s;
  border: 2px solid black;
  border-radius: 5px;
  overflow-y: hidden;
}
.character:hover {
  box-shadow: 0 8px 16px 0 rgba(64, 253, 181, 0.438);
  overflow: auto;
  transform: scale(1.1);
}
.characterContainer {
  padding: 2px 16px;
}
.characterContainer > img {
  height: 200px;
  width: 200px;
}
.characterContainer > h1,
p {
  color: rgb(256, 61, 61);
}
.copyrights {
  position: inherit;
  align-self: center;
  margin: 0 auto;
}
#root {
  width: 100%;
  max-width: 600px;
}
.Carousel {
  width: 100%;
  transform: translateX(12px);
}
slick-slider {
  padding: 12px;
  padding-right: 12px;
}
.carouselContainer {
  padding-top: 20px;
}

.footerContainer {
  padding: 25px;
  display: flex;
  margin-top: 18px;
  align-items: center;
  justify-content: center;
}
.madeWithReact {
  color: rgb(0, 252, 239);
  justify-content: baseline;
  padding: 12px;
}
.hostedBy {
  color: rgb(0, 252, 239);
  padding: 12px;
}

.footerContainer > * > h1 {
  text-align: center;
  scale: 0.5;
}

img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}
